@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-foreground: #f8fafc;
  --color-primary: #6366f1;
  --color-secondary: #1e293b;
  --color-accent: #0ea5e9;
  
  --radius-xl: 0.75rem;
  
  --font-sans: 'Inter', system-ui, sans-serif;
}

/* Estilos base rápidos */
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased;
  }
}
